    html{
    position: relative;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    overflow: hidden;

    
}
/*
plava = rgb(76, 166, 169);
tamno plava = rgb(73, 143, 193);
crvena = rgb(240, 91, 86);
transition: background-color 0.5s ease-in-out 0s;
*/
body{
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    color: white;
    background: linear-gradient(45deg, #e6653e, rgb(240, 58, 51), #23d5ab, rgb(76, 166, 169));
    background-size: 400% 400%;
   
}

.bgPomodoro{
    animation: bgColorP 2s ease-in-out 1 forwards ;
}

.bgBreak{
    animation: bgColorR 2s ease-in-out 1 forwards ;
}


@keyframes bgColorR{
    0%{
        background-position: 0 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}

@keyframes bgColorP{
    0%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}


/******kontejner ekrana******/
#container{
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 70%;
    height: 100%;
}
/*--------title----------*/
#title{
    margin: 2rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Pacifico', cursive;

  
}
/*******central display********/
.displayContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    /*visina*/
}

.settings{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 12rem;
    width: 10rem;
    margin: auto 10rem;
    font-size: 3rem;
    font-weight: 600;
    z-index: 2;
}
.settings-title {
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    color: white;
    border: 4px solid white;
    border-radius: 1rem;
    cursor: pointer;
    background: none;
    outline: none;
    
}
#setPom{
    margin-right: 12rem;
}
.settingsChange{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10rem;
    height: 5rem;
}


.settingsChange button{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer !important;
    color: white;
    
    
}
/******clock**********/
#clock{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    height: 25rem;
    width: 25rem;
    border-radius: 100%;
    border: 3px solid white;
    background-color: transparent;
    text-align: center;
    font-size: 3rem;
    padding: 10rem;
}
#clock p{
    display: inline;
}
#clock img{
    width: 2.4rem;
    height: 2.4rem;
}
#state{
   font-size: 5rem;
   font-family: 'Pacifico';

}
#display{
    font-size: 10rem;
    margin: 3rem auto 0rem !important;
}
#endTime{
    line-height: 3rem;
    font-size: 2.5rem;
    margin: 0.5rem auto 8.5rem;
}
#stDisplays{
    position: absolute;
    bottom: 5rem;
}

#state, .spent-time{
    line-height: 3rem;
}

#display, #state, .spent-time{
    margin: 0.5rem;
}

/**********control-buttons**********/
#commands{
    display: flex;
    margin: 0 auto;
    height: 10rem;
}
#commands button{
    outline: none;
    border: none;
    background: none;
    margin: 0 5rem;
    margin-left: 6.5rem;
    width: 4rem;
    height: 5rem;
    font-size: 5rem;
    color: white;
}

/******** footer **************/

footer div{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5rem 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: white;
    font-weight: 800;
    background-color: rgba(236, 81, 81, 0.3);
}

footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
    color: rgb(28, 64, 184);
}