#container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 70%;
    height: 70%;
}


#display{
    display: flex;
    margin: 50px auto;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-color: aqua;
    text-align: center;
    
}




















/******** footer **************/

footer div{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 15px 5px;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(90, 18, 18);
    font-weight: 800;
    background-color: rgba(236, 81, 81, 0.3);
}

footer a{
    text-decoration: none;
    color: rgb(90, 18, 18);
}
footer a:hover{
    text-decoration: underline;
    color: rgb(28, 64, 184);
}