html{
    position: relative;
    min-height: 100%;
    font-family: 'Loto', serif;
    font-size: 10px;
}

body{
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}


#container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 70%;
    height: 70%;
}

#title{
    text-align: center;
    font-size: 2rem;
}
#displayContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    height: 30rem;
    width: 30rem;
    border-radius: 100%;
    border: 1px solid tomato;
    background-color: transparent;
    text-align: center;
    font-size: 3rem;
    padding: 10rem;
    margin-bottom: 5rem;
    
}

#state{
   
   font-size: 5rem;

}
#display{
    font-size: 10rem;
    margin-top: 10rem !important;
}
#state, .spent-time{
    line-height: 3rem;
}

#display, #state, .spent-time{
    margin: 0;
    text-align: center;
}



















/******** footer **************/

footer div{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 15px 5px;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(90, 18, 18);
    font-weight: 800;
    background-color: rgba(236, 81, 81, 0.3);
}

footer a{
    text-decoration: none;
    color: rgb(90, 18, 18);
}
footer a:hover{
    text-decoration: underline;
    color: rgb(28, 64, 184);
}